[Unit]
Description=synchronize ESPs on mirrored-disk systems
ConditionFileIsExecutable=/etc/bootsync/bootsync
After=local-fs.target
After=bootbind.service

[Service]
ExecStart=/etc/bootsync/bootsync
RestartForceExitStatus=2

[Install]
WantedBy=multi-user.target
