[Unit]
Description=synchronize ESPs on mirrored-disk systems
ConditionFileIsExecutable=/etc/bootsync/bootsync
AssertPathIsMountPoint=${ESP_ROOT}
After=local-fs.target
After=bootbind.service

[Service]
Type=forking
ExecStart=/etc/bootsync/bootsync
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target
