module bootrmnt 1.0;

require {
	type init_t;
	type boot_t;
	class filesystem remount;
}

#============= init_t ==============

allow init_t boot_t:filesystem remount;
