[Unit]
Description=bind mount currently-booted ESP to ${ESP_ROOT}
ConditionFileIsExecutable=/etc/bootsync/bootbind
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs-pre.target
Before=local-fs.target shutdown.target

[Service]
Type=oneshot
ExecStart=/etc/bootsync/bootbind
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
