[Unit]
Description=bind mount currently-booted ESP to /boot
ConditionFileIsExecutable=/etc/rc.d/rc.bootbind
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs-pre.target
Before=local-fs.target shutdown.target

[Service]
Type=forking
ExecStart=/etc/rc.d/rc.bootbind
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target
